* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(41, 59, 75);
}

header {
    text-align: center;
    padding: 10px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.score-board {
    margin: 10px auto;
    color: white;
    position: relative;
    text-align: center;
    border-radius: 5px;
    border: 3px solid white;
    width: 200px;
    font-size: 45px;
    padding: 15px 20px;
}

.score {
    background-color: red;
    text-align: center;
    font-size: 14px;
    color: white;
    padding: 2px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#user {
    border-radius: 5px;
    position: absolute;
    top: 40px;
    left: -25px;
}

#computer {
    border-radius: 5px;
    position: absolute;
    top: 40px;
    right: -35px;
}

.result {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.choices {
    margin: 50px 0;
    text-align: center;
}

.choice {
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
}

img {
   border-radius: 50%;
}

.move > h1 {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}